.popup__window{
    position: relative;
    border-radius: 10px;
    background-color:white;
    width: 430px;
    min-height: 330px;
}

@media screen and (max-width: 460px) {
    .popup__window{
        margin: 0 19px;
        width: calc(100vw - 38px);
    }   
}